<a href="/dishes/new">Add new</a>

<% @dishes.each do |dish| %>
  <h1><%= dish.name %></h1>
  <a href="/dishes/<%= dish.id %>"><img src="<%= dish.image_url %>" width="200"></a>
  <form class="" action="dishes/<%= dish.id %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="id" value="<%= dish.id %>">
    <button type="submit" name="button">Delete</button>
  </form>
<% end %>
